name: Terraform Infra Provision
on: [workflow_dispatch]
jobs:
  Terraform:
    runs-on: self-hosted
    steps: 
      - uses: actions/checkout@v4
      - run: |
          make dev-apply token="$vault_token"
        env:
          vault_token: ${{ secrets.vault_token }}